body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 1em;
}

.imgPendu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    background-color: #f6f6f6;
    width: 100%;
}